!devbox.*
node_modules/
yarn.lock
garage/meta/*
garage/data

dist/
dev-dist/
tsconfig.tsbuildinfo
.rollup.cache

# OS
.DS_Store

# logs
*.log

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.turbo

traefik/certs/*
