services:
  # redis:
  #   image: redis:7.2.4
  #   container_name: redis
  #   restart: on-failure
  #   networks:
  #     - default
  # sai:
  #   image: node:22-slim
  #   restart: on-failure
  #   container_name: sai
  #   depends_on:
  #     - temporal
  #     - redis
  #   networks:
  #     - default
  #   expose:
  #     - 4000
  #   ports:
  #     - 9229:9229 # node debugger
  #   working_dir: /sai/packages/service
  #   command: ["npm", "run", "container"]
  #   dns:
  #     - 172.16.0.253
  #   volumes:
  #     - ./:/sai
  #     - ${CAROOT}:/mkcert
  #   environment:
  #     - NODE_ENV=development
  #     - BASE_URL=https://sai.docker
  #     - CLIENT_NAME=Solid Authorization Service
  #     - PORT=4000
  #     - FRONTEND_URL=http://ui.auth.docker/
  #     - FRONTEND_AUTHORIZATION_URL=http://ui.auth.docker/authorize
  #     - VAPID_PUBLIC_KEY=BNUaG9vwp-WE_cX-3dNLebyczW_RivE8wHECIvZIUMUZ3co6P79neE3hueJJtFcg5ezTZ25T1ITciujz-mlAcnY
  #     - VAPID_PRIVATE_KEY=8d8mM59L2VptBg5hX_2dHnQ7T5VpeUsftbaQ6PfuhGA
  #     - PUSH_NOTIFICATION_EMAIL=mailto:example@yourdomain.org
  #     - TEMPORAL_ADDRESS=temporal:7233
  #     - NODE_EXTRA_CA_CERTS=/mkcert/rootCA.pem
  #   labels:
  #     - traefik.enable=true
  #     - traefik.http.routers.sai.rule=Host(`sai.docker`)
  #     - traefik.http.routers.sai.entrypoints=websecure
  #     - traefik.http.routers.sai.tls=true
  #     - traefik.http.services.sai.loadbalancer.server.port=4000
  #     - traefik.http.middlewares.testheader.headers.customrequestheaders.X-Forwarded-Proto=https
  # css:
  #   image: node:22-alpine
  #   container_name: css
  #   restart: on-failure
  #   networks:
  #     - default
  #   dns:
  #     - 172.16.0.253
  #   expose:
  #     - 3000
  #   working_dir: /sai/packages/css-storage-fixture
  #   command: ["npm", "run", "dev"]
  #   volumes:
  #     - ./:/sai
  #     - ${CAROOT}:/mkcert
  #   environment:
  #     - CSS_CONFIG=/sai/packages/css-storage-fixture/config.json
  #     - CSS_LOGGING_LEVEL=info
  #     - CSS_ROOT_FILE_PATH=/sai/packages/css-storage-fixture/dev/pod
  #     - CSS_BASE_URL=https://pod.docker
  #     - NODE_EXTRA_CA_CERTS=/mkcert/rootCA.pem
  #   labels:
  #     - traefik.enable=true
  #     - traefik.http.routers.pod.rule=Host(`pod.docker`) || HostRegexp(`^.+\.pod\.docker$`)
  #     - traefik.http.routers.pod.entrypoints=websecure
  #     - traefik.http.routers.pod.tls=true
  #     - traefik.http.services.pod.loadbalancer.server.port=3000
  #     - traefik.http.middlewares.testheader.headers.customrequestheaders.X-Forwarded-Proto=https
  auth:
    image: node:22-alpine
    container_name: auth
    restart: on-failure
    networks:
      - default
    dns:
      - 172.16.0.253
    expose:
      - 4800
    ports:
      - "9229:9229"
    working_dir: /sai/packages/css-storage-fixture
    command:
      - node
      - --inspect=0.0.0.0:9229
      - /sai/node_modules/@solid/community-server/bin/server.js
    volumes:
      - ./:/sai
      - ${CAROOT}:/mkcert
    environment:
      - CSS_CONFIG=/sai/packages/css-storage-fixture/auth.json
      - CSS_LOGGING_LEVEL=debug
      - CSS_BASE_URL=https://auth.docker/
      - CSS_PORT=4800
      - CSS_VAPID_PUBLIC_KEY=BNUaG9vwp-WE_cX-3dNLebyczW_RivE8wHECIvZIUMUZ3co6P79neE3hueJJtFcg5ezTZ25T1ITciujz-mlAcnY
      - CSS_VAPID_PRIVATE_KEY=8d8mM59L2VptBg5hX_2dHnQ7T5VpeUsftbaQ6PfuhGA
      - CSS_PUSH_SENDER=mailto:example@yourdomain.org
      - CSS_ENCODED_PRIVATE_JWK=eyJrdHkiOiJFQyIsIngiOiJDMjlsZmlGbm5OV3RITHplSkxDVXpiQnN3QVJCOVZoSl9fRlBWZFlTY3FRIiwieSI6InIxVFpMQS1zbWxyOUkzSWdfc1dRcTM5R0ZjbUYwOVF6TTU3SUs4d1BxUlkiLCJjcnYiOiJQLTI1NiIsImQiOiJYcHdmRDlkN1gtc1FySWlrRW5rWE9KalVKb1JjZS1zS2ZvLXkxdkxIamVjIiwiYWxnIjoiRVMyNTYifQ
      - CSS_POSTGRES_CONNECTION_STRING=postgres://temporal:temporal@postgresql:5432/auth
      - NODE_EXTRA_CA_CERTS=/mkcert/rootCA.pem
    labels:
      - traefik.enable=true
      - traefik.http.routers.auth.rule=Host(`auth.docker`)
      - traefik.http.routers.auth.entrypoints=websecure
      - traefik.http.routers.auth.tls=true
      - traefik.http.services.auth.loadbalancer.server.port=4800
      - traefik.http.middlewares.testheader.headers.customrequestheaders.X-Forwarded-Proto=https
  registry:
    image: node:22-alpine
    container_name: registry
    restart: on-failure
    networks:
      - default
    dns:
      - 172.16.0.253
    expose:
      - 4600
    working_dir: /sai/packages/css-storage-fixture
    command: ["npm", "run", "registry"]
    volumes:
      - ./:/sai
      - ${CAROOT}:/mkcert
    environment:
      - CSS_CONFIG=/sai/packages/css-storage-fixture/registry.json
      - CSS_LOGGING_LEVEL=info
      - CSS_BASE_URL=https://reg.docker
      - CSS_POSTGRES_CONNECTION_STRING=postgres://temporal:temporal@postgresql:5432/registry
      - NODE_EXTRA_CA_CERTS=/mkcert/rootCA.pem
    labels:
      - traefik.enable=true
      - traefik.http.routers.registry.rule=Host(`reg.docker`)
      - traefik.http.routers.registry.entrypoints=websecure
      - traefik.http.routers.registry.tls=true
      - traefik.http.services.registry.loadbalancer.server.port=4600
      - traefik.http.middlewares.testheader.headers.customrequestheaders.X-Forwarded-Proto=https
  data:
    image: node:22-alpine
    container_name: data
    restart: on-failure
    networks:
      - default
    dns:
      - 172.16.0.253
    expose:
      - 4700
    working_dir: /sai/packages/css-storage-fixture
    command: ["npm", "run", "data"]
    volumes:
      - ./:/sai
      - ${CAROOT}:/mkcert
    environment:
      - CSS_CONFIG=/sai/packages/css-storage-fixture/data.json
      - CSS_LOGGING_LEVEL=info
      - CSS_ROOT_FILE_PATH=/sai/packages/css-storage-fixture/dev/data
      - CSS_BASE_URL=https://data.docker
      - NODE_EXTRA_CA_CERTS=/mkcert/rootCA.pem
    labels:
      - traefik.enable=true
      - traefik.http.routers.data.rule=Host(`data.docker`) || HostRegexp(`^.+\.data\.docker$`)
      - traefik.http.routers.data.entrypoints=websecure
      - traefik.http.routers.data.tls=true
      - traefik.http.services.data.loadbalancer.server.port=4700
      - traefik.http.middlewares.testheader.headers.customrequestheaders.X-Forwarded-Proto=https
  ui:
    image: node:22-alpine
    container_name: ui
    restart: on-failure
    networks:
      - default
    expose:
      - 4200
    working_dir: /sai/ui/authorization
    command: ["npm", "run", "dev"]
    volumes:
      - ./:/sai
    labels:
      - traefik.enable=true
      - traefik.http.routers.ui-sai.rule=Host(`ui.auth.docker`)
      - traefik.http.routers.ui-sai.entrypoints=websecure
      - traefik.http.routers.ui-sai.tls=true
      - traefik.http.services.ui-sai.loadbalancer.server.port=4200
  vuejectron:
    image: node:22-alpine
    container_name: vuejectron
    restart: on-failure
    networks:
      - default
    expose:
      - 4500
    working_dir: /sai/examples/vuejectron
    command: ["npm", "run", "dev"]
    volumes:
      - ./:/sai
    labels:
      - traefik.enable=true
      - traefik.http.routers.vuejectron.rule=Host(`vuejectron.docker`)
      - traefik.http.routers.vuejectron.entrypoints=websecure
      - traefik.http.routers.vuejectron.tls=true
      - traefik.http.services.vuejectron.loadbalancer.server.port=4500

  router:
    image: traefik:v3.0.4
    container_name: router
    restart: on-failure
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/conf/traefik.yml:/etc/traefik/traefik.yml
      - ./traefik/certs/cert.pem:/etc/traefik/cert.pem
      - ./traefik/certs/key.pem:/etc/traefik/key.pem
    labels:
      - traefik.enable=true
      - traefik.http.routers.router.rule=Host(`router${SHARED_DOMAIN_SEGMENT}.docker`)
      - traefik.http.routers.router.entrypoints=websecure
      - traefik.http.services.router.loadbalancer.server.port=8080
      - traefik.http.routers.router.tls=true
    healthcheck:
      test: ["CMD-SHELL", "traefik healthcheck --ping"]
      interval: 4s
      timeout: 4s
      retries: 8
      start_period: 4s
    networks:
      default:
        ipv4_address: 172.16.0.250

  dns:
    image: drpsychick/dnsmasq:latest
    container_name: dnsmasq
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    cap_add:
      - NET_ADMIN
    healthcheck:
      test: ["CMD-SHELL", "nslookup localhost 127.0.0.1 || exit 1"]
      interval: 4s
      timeout: 4s
      retries: 8
      start_period: 4s
    networks:
      default:
        ipv4_address: 172.16.0.253

  postgresql:
    container_name: postgresql
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    image: postgres:${POSTGRESQL_VERSION}
    networks:
      - default
    ports:
      - 5432:5432
    expose:
      - 5432 # internal only
    volumes:
      - /var/lib/postgresql/data

  temporal:
    container_name: temporal
    depends_on:
      - postgresql
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
      - DYNAMIC_CONFIG_FILE_PATH=/etc/temporal/development-sql.yaml
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/auto-setup:${TEMPORAL_VERSION}
    networks:
      - default
    ports:
      - 7233:7233
    volumes:
      - ./temporal/development.yaml:/etc/temporal/development-sql.yaml

  temporal-admin-tools:
    container_name: temporal-admin-tools
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/admin-tools:${TEMPORAL_ADMINTOOLS_VERSION}
    networks:
      - default
    stdin_open: true
    tty: true

  temporal-ui:
    container_name: temporal-ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    image: temporalio/ui:${TEMPORAL_UI_VERSION}
    networks:
      - default
    ports:
      - 8080:8080
    labels:
      - traefik.enable=true
      - traefik.http.routers.temporal-ui.rule=Host(`temporal.docker`)
      - traefik.http.routers.temporal-ui.entrypoints=websecure
      - traefik.http.routers.temporal-ui.tls=true
      - traefik.http.services.temporal-ui.loadbalancer.server.port=8080

  oxigraph:
    image: ghcr.io/oxigraph/oxigraph:latest
    container_name: oxigraph
    restart: on-failure
    networks:
      - default
    volumes:
      - ./packages/css-storage-fixture/dev/oxigraph:/data
    environment:
      - RUST_LOG=debug
    expose:
      - 7878 # internal only
    command: ["serve", "--location", "/data", "--bind", "0.0.0.0:7878"]

  sparql:
    image: nginx:alpine
    container_name: sparql
    restart: on-failure
    networks:
      - default
    depends_on:
      - oxigraph
    ports:
      - 7878:80
    volumes:
      - ./packages/css-storage-fixture/oxigraph.nginx.conf:/etc/nginx/nginx.conf:ro

  id:
    image: nginx:alpine
    container_name: id
    restart: on-failure
    networks:
      - default
    depends_on:
      - router
    volumes:
      - ./packages/css-storage-fixture/dev/id:/usr/share/nginx/html/id:ro
      - ./packages/css-storage-fixture/id.nginx.conf:/etc/nginx/nginx.conf:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.id.rule=Host(`id.docker`) || HostRegexp(`^.+\.id\.docker$`)
      - traefik.http.routers.id.entrypoints=websecure
      - traefik.http.routers.id.tls=true
      - traefik.http.services.id.loadbalancer.server.port=80

networks:
  default:
    name: network.${COMPOSE_PROJECT_NAME}
    ipam:
      config:
        - subnet: 172.16.0.0/16
          gateway: 172.16.0.1
