name: CI
on: [push, pull_request]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - authorization-agent
          - application
          - data-model
          - test-utils
          - utils
    steps:
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build packages
        run: npx turbo run build
      - name: Run tests
        working-directory: ./packages/${{ matrix.package }}
        run: npm run test
      - name: Integration tests
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: "latest"
          args: test
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
